@model Utbildning.Models.Booking

@{
    ViewData["Title"] = "Boka";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Book.css">
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <h2 class="text-title"> @ViewData["CourseTitle"] </h2><br />
    <h4 class="text-subtitle"> @(ViewData["CourseSubtitle"] == null ? "" : ViewData["CourseSubtitle"])</h4>
    <h4 style="color:red;">@ViewBag.Warning</h4>
    <hr class="dec-line" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Book">
        <div class="row container-form">
            <div class="col-xs-1 col-sm-4 col-md-2 col-lg-2" style="background-color:red;"></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="inner-container-form col-xs-10 col-md-8" style="background-color:lightblue;">
                <div class="col-md-6 col-sm-12 col-lg-6 form-left form">

                    <div class="form-group">
                        <div>

                            <label>Förnamn</label>

                        </div>
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div>

                            <label>Efternamn</label>

                        </div>
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div>

                            <label>Email</label>

                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div>

                            <label>Telefon</label>

                        </div>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div>

                            <label>Företag</label>

                        </div>
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })

                    </div>


                    <!--flytta, så den endast finns på Läsmer-sidan-->
                    <div class="form-group">
                        <div>

                            <label>Kurstillfälle</label>

                        </div>
                        @Html.DropDownList("CourseOccasionId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseOccasionId, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="col-md-6 col-sm-12 col-lg-6 form form-right">


                    <div class="form-group">
                        <div>

                            <label>Faktura Adress</label>

                        </div>
                        @Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BillingAddress, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div>

                            <label>Postnummer</label>

                        </div>
                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div>

                            <label>Stad</label>

                        </div>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div class="ctooltip">

                            <label>Bokningar<span class="tooltiptext">Antal deltagare</span></label>

                        </div>

                     <select>
                         @for (int n = 1; n <= ViewBag.Available; n++)
                         {
                             <option>@n</option>
                         }
                        </select>

                        @Html.EditorFor(model => model.Bookings, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bookings, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">

                        <div class="ctooltip">
                         
                            <label>Meddelande<span class="tooltiptext">Övriga synpunkter eller information till kursledaren</span></label>

                        </div>

                    
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <div class="ctooltip">
                            <!--       @Html.LabelFor(model => model.DiscountCode, htmlAttributes: new { @class = "control-label", title = "Tooltip1" })
                    -->
                            <label>Rabattkod<span class="tooltiptext">Om du har en rabattkod så kan du fylla i den här</span></label>

                        </div>

                        @Html.EditorFor(model => model.DiscountCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiscountCode, "", new { @class = "text-danger" })

                    </div>

                    <!--   <div class="form-group">
                @Html.LabelFor(model => model.BookingDate, htmlAttributes: new { @class = "control-label col-md-2 col-lg-2" })

                    @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })

            </div>-->


                </div>
                </div>


                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-5"></div>
                    <input type="submit" value="Boka" class="btn btn-default col-xs-4 col-sm-4 col-md-2" style="background-color: #00b6dd; color: #FFF; border-color: black;" />

                </div>
            </div>
</form>

    <div>
        <br />
        @Html.ActionLink("Tillbaka till kurslistan", "Index")
      
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
