    @model IEnumerable<Utbildning.Models.CourseListItem>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/List.css">
</head>
<script src="~/js/List.js"></script>

@ViewBag.E

<body onload="checkList()">
    <div class="row">
        <div class="col-sm-3 searchbox">
            <h2 style="margin:0;">Utbildningar</h2>

            <p>
                Här hittar du alla våra utbildningar!
            </p>
            <input id="search" type="text" class="search" placeholder="Filtrera..." onkeyup="search()" />
            <div id="filtercontainer" class="flex">
                @for(int i = 0; i < ViewBag.Tags.Count; i++)
                {
                    <div id=@("filter" + i) class="filter" onmouseup=@("filter(" + i + ")")>@(ViewBag.Tags[i].Length > 15 ? ViewBag.Tags[i].Substring(0,15) + "..." : ViewBag.Tags[i])</div>
                }
                <!--
                <div id="filter0" class="filter" onmouseup="filter(0)">C++</div>
                <div id="filter1" class="filter" onmouseup="filter(1)">C#</div>
                <div id="filter2" class="filter" onmouseup="filter(2)">MVC</div>
                <div id="filter3" class="filter" onmouseup="filter(3)">Agila metoder</div>
                <div id="filter4" class="filter" onmouseup="filter(4)">Projektledning</div>
                <div id="filter5" class="filter" onmouseup="filter(5)">Nybörjare</div>
                <div id="filter6" class="filter" onmouseup="filter(6)">Expert</div>
                    -->
            </div>
        </div>
        <div class="col-sm-9" id="listbox">
            <h6 id="resultat" style="position:absolute; top: -25px"></h6>
            <h2 style="display:none" id="noobjects">Inga kurser hittades</h2>
            @foreach (var item in Model)
            {
                <div class="container-list">
                    <div class="container-info">
                        <text class="text-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </text>
                        <text class="tags">
                            @foreach (string s in item.Tags)
                            {
                                @s
                            }
                        </text>
                        <br />
                        <text class="text-city">
                            @((item.City ?? "") + (item.City != null && item.Length > 0 ? ", " : "") + (item.Length > 0 ? item.Length + " dagar" : "") + (item.City != null || item.Length > 0 ? "." : "-"))
                        </text>
                    </div>
                    <div class="container-button">

                        <a class="button button-all button-readmore" href='@Url.Action("LäsMer", "Kurser", new {id=item.Id } )'>Läs Mer</a>
                        <a class="button button-all button-book" href="~/Kurser/Läsmer/@item.Id#kurstillfällen" )'>Boka</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>