<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.CompanyName</h3>

<p>@ViewBag.Text</p>
<address>
    @ViewBag.Address
    <br />
</address>

<address>
    <strong>Kontakt:</strong>
    <ul>
        <li><a href="mailto:@ViewBag.Email">@ViewBag.Email</a></li>
        <li><p>@ViewBag.PhoneNumber</p></li>
    </ul>
</address>