@model Utbildning.Models.Course
@using Utbildning.Classes
@{
    ViewBag.Title = "LäsMer";
}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/ReadMore.css">
</head>

<div class="row">

    <div class="col-sm-1 col-xs-0" style="background-color:red"></div>
    <div class="col-sm-7 col-xs-12" style="background-color:lightblue;">
        <div class="CourseName">
            <p> @Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="CourseSubtitle">
            <text><em>@Html.DisplayFor(model => model.Subtitle)</em></text>
        </div>
        <div class="CourseBold">
            <p>@Html.DisplayFor(model => model.Bold)</p>
        </div>
        <p>@ViewBag.Text</p>

        <br>
        <br>
        <a name="kurstillfällen"></a>
        <div class="CourseOccasion">
            @foreach (var item in ViewBag.CourseOccasionViewBag)
            {
                <div class="CourseOccasionItem">
                    @DBHandler.Format(item.StartDate) <a class="Boka" href='@Url.Action("Boka", "Kurser", new {id=item.Id } )'>Boka</a>
                </div>
            }
        </div>


    </div>

    <div class="col-sm-3 col-xs-12" style="background-color:lightgoldenrodyellow">
        <img class="LeaderImg img-thumbnail" src="~/images/profile/@ViewBag.Image" alt=" @Html.DisplayNameFor(model => model.Host)">
        <br>
        <text class="LederName">
            @Html.DisplayFor(model => model.Host)
        </text>
        <text class="LederEmail">
            <a href="mailto:@Html.DisplayFor(model => model.Email)?Subject=Fråga%20om%20 @Html.DisplayFor(model => model.Name)" target="_top">
                @Html.DisplayFor(model => model.Email)
            </a>
        </text>
        <br>
        <br>

        <div>
            <ul>
                @foreach (var item in ViewBag.CourseBulletPoints)
                {
                    <li>@item.Text</li>
                }
            </ul>
        </div>
        <div">
            <ul>

                @Html.DisplayFor(model => model.Address)
                @Html.DisplayFor(model => model.City)

            </ul>
    </div>
</div>
<div class="col-xs-1" style="background-color:magenta"></div>