@model IEnumerable<Utbildning.Models.Booking>

@using Utbildning.Classes;

<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Faktura.css" />
</head>

<h2>Generera fakturalista att skriva ut, eller ladda ner.</h2>
<h3 class="printText">Faktura</h3>
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Förnamn</div>
            <div class="divTableCell">Efternamn</div>
            <div class="divTableCell">Telefonnummer</div>
            <div class="divTableCell">Email</div>
            <div class="divTableCell">Faktureringsaddress</div>
            <div class="divTableCell">Ort</div>
            <div class="divTableCell">Postkod</div>
            <div class="divTableCell">Företag</div>
            <div class="divTableCell">Bokningar</div>
            <div class="divTableCell">Pris (sek)</div>
            <div class="divTableCell">Rabattkod</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="divTableRow">
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.Firstname)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.Lastname)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.BillingAddress)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.City)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.Company)
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.Bookings)
                </div>
                <div class="divTableCell">
                    <input style="width:100px" type="number" value='@item.CourseOccasion.GetCourse().Price' />
                </div>
                <div class="divTableCell">
                    @Html.DisplayFor(modelItem => item.DiscountCode)
                </div>
            </div>
        }
    </div>
    <button id="print" onclick="window.print()">Skriv ut</button>
</div>
