@model Utbildning.Models.CourseOccasion

<div>
    <h1 style="color:#f8981e">@ViewBag.CourseName</h1>
    <h3>@ViewBag.CODate</h3>
    <h4>Detaljer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kursnamn
        </dt>

        <dd>
            @ViewBag.CourseName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPeople)
        </dd>

    </dl>
</div>
<p>
    <!--TODO-->
    <a href="~/Kursledare/Kurser/Kurs/@ViewData["CourseId"]">← Tillbaka</a> |
    @Html.ActionLink("Redigera", "Kurs", new { param1 = "Kurstillfälle", param2 = "Redigera", param3 = ViewData["COId"] })
   
</p>