@model Utbildning.Models.CourseOccasion

<h1 style="color:#f8981e">@ViewBag.Course.Name</h1>
<h2>@ViewBag.CODate</h2>
<h3>Radera Kurstillfälle</h3>
<div style="color:red;">Alla bokningar kopplade till detta kurstillfälle kommer även att raderas.</div>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Kursnamn
        </dt>

        <dd>
            @ViewBag.Course.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltProfilePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltProfilePicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPeople)
        </dd>

    </dl>

    @using (Html.BeginForm(new { param1 = "RaderaKT", param2 = ViewBag.COId }))
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a href="~/Kursledare/Kurser/Kurs/@ViewBag.Course.Id">← Tillbaka</a>
    </div>
    }
</div>
