@model Utbildning.Models.CourseOccasion

@{
    ViewBag.Title = "SkapaKurstillfälle";
}

<h1 style="color:#f8981e">@ViewData["CourseName"]</h1>
<h4>Skapa kurstillfälle</h4>
<br>


@using (Html.BeginForm(new { param1 = "NyttKT", param2 = ViewData["SpecificCourseId"] }))
{
    @Html.AntiForgeryToken()    
    <div class="form-horizontal">
     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datefield", type = "date", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new {@class = "form-control datefield", type = "date", Value = ViewBag.EndDate }})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinPeople, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinPeople, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinPeople, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxPeople, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxPeople, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxPeople, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skapa Kurstillfälle" class="btn btn-default" />


            </div>
        </div>
    </div>
}

<div>
    <a href="~/Kursledare/Kurser/Kurs/@ViewBag.SpecificCourseId">← Tillbaka</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
