@model Utbildning.Models.CourseOccasion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseOccasion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltProfilePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltProfilePicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPeople)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
