@model IEnumerable<Utbildning.Models.Booking>

@{
    ViewBag.Title = "Deltagare";
}

<h1 style="color:#f8981e">@ViewData["CourseName"]</h1>
<h2>@ViewData["CourseOccasionDate"]</h2>
<h4>Bokningar</h4>
<p>

    <a href="~/Kursledare/Kurser/Kurs/Kurstillfälle/Bokningar/Skapa/@ViewBag.COId">Skapa Bokning Manuellt</a>
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Bookings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Bookings)
            </td>

            @if (item.Message != null)
            {
                <td style="color:lightgreen;">✔</td>}
            else
            {
                <td>@Html.DisplayFor(modelItem => item.Message)</td>
            }
            @if (item.DiscountCode != null)
            {
                <td style="color:lightgreen;">✔</td>}
            else
            {
                <td>@Html.DisplayFor(modelItem => item.DiscountCode)</td>
            }
            <td>
                @{

                    var value = item.BookingDate.ToString("yyyy-MM-dd");
                    @value;

                }
            </td>
            <td>

                @Html.ActionLink("Redigera", "Kurs", new { param1 = "Kurstillfälle", param2 = "Bokning", param3 = "Redigera", param4 = item.Id })
                |
                @Html.ActionLink("Info", "Kurs", new { param1 = "Kurstillfälle", param2 = "Bokning", param3 = item.Id })
                |
                @Html.ActionLink("Radera", "Kurs", new { param1 = "Kurstillfälle", param2 = "Bokning", param3 = "Radera", param4 = item.Id })
            </td>
        </tr>
    }

</table>
<a href="~/Kursledare/Kurser/Kurs/@ViewData["CourseId"]">← Tillbaka</a> |
