@model IEnumerable<Utbildning.Models.Log>

<h2>Log</h2>
<a href="~/Admin/">← Tillbaka</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Table)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Before)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.After)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Before)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.After)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
}

</table>
